#boxdiets {
    margin-top: 80px;
    margin-bottom: 80px;
}

.boxdiets-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 62px;
}

.boxdiets-list {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
}

.boxdiets-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.boxdiets-item-icon {
    position: relative;
    width: 134px;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-4);
    border-radius: 20px;
}

.boxdiets-item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.boxdiets-item-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--gray-2);
    max-width: 300px;
}

/* RESPONSIVE */
@media (max-width: 767px) {
    .boxdiets-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .boxdiets-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .boxdiets-item-desc {
        display: none;
    }

    .boxdiets-item-icon {
        flex: 1;
        min-height: 120px;
    }
}
