#move-to-top {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 100px;
    width: 50px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
        rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background: var(--white);
    color: var(--primary-1);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
/* 
#move-to-top:hover {
    opacity: 0.8;
} */

/* DARK THEME */

#app.dark-theme #move-to-top {
    background: var(--slate-700);
    color: var(--primary-1);
}

/* RESPONSIVE */
@media (max-width: 767px) {
    #move-to-top {
        bottom: 40px;
        right: 40px;
        width: 45px;
        height: 45px;
    }
}
