#deliver {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.deliver-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 100px;
}

.deliver-title {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 62px;
}

.deliver-left {
    flex: 1;
}

.deliver-left-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 80%;
}

.deliver-form-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.deliver-form-input-group input {
    padding: 18px 26px;
    border-radius: 20px;
    border: 1px solid var(--gray-2);
}

.deliver-form-input-group input:first-child {
    width: 60%;
}

.deliver-form-input-group input:last-child {
    width: 40%;
}

.deliver-form-button-group {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.deliver-form-button-check {
    padding: 12px 47px;
    border-radius: 100rem;
    background: var(--primary-2);
    color: var(--gray-5);
    font-weight: 500;
}

.deliver-form-button-locate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    border-radius: 100rem;
    background: transparent;
    padding: 12px 47px;
}

.deliver-left .time-open {
    margin-top: 40px;
}

.deliver-left .time-open-head {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-left: 28px;
}

.deliver-left .time-open-head > span:nth-child(2),
.deliver-left .time-open-head > span:nth-child(4) {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}

.deliver-left .time-open-head::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 10px;
    height: 10px;
    background: var(--primary-1);
    border-radius: 100rem;
}

.time-open-body {
    position: relative;
    padding-top: 24px;
    padding-left: 30px;
    max-width: 400px;
}

.time-open-body::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 8px;
    background: var(--primary-1);
    border-radius: 100rem;
}

.deliver-right {
    flex: 1;
}

.deliver-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
}

.deliver-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    background-color: var(--gray-4);
    padding: 18px 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deliver-map {
    width: 500px;
    height: 500px;
}

.deliver-map > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* DARK THEME */
#app.dark-theme .deliver-form-input-group input {
    background: var(--slate-800);
    border: none;
    color: var(--white);
}

#app.dark-theme .deliver-form-button-locate {
    background: var(--slate-800);
    color: var(--gray-400);
}

#app.dark-theme .deliver-item {
    background: var(--slate-800);
}
