.gallery-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 62px;
    margin-bottom: 40px;
    margin-top: 80px;
}

/* RESPONSIVE */
@media (max-width: 767px) {
    .gallery-title {
        margin-top: 60px;
        font-size: 30px;
        line-height: 50px;
    }
}
