/* CSS RESET */
*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
button,
textarea {
    border: none;
    outline: none;
}

#app.dark-theme input::placeholder {
    color: var(--gray-2);
}

button {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

button:hover {
    opacity: 0.9;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid var(--gray-3);
    text-align: left;
    padding: 16px 20px;
}

th {
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: var(--gray-4);
}

#app.dark-theme tr:nth-child(even) {
    background-color: var(--slate-800);
}

#app.dark-theme td,
#app.dark-theme th {
    border: 1px solid var(--gray-2);
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --white: #fff;
    --gray-1: #111112;
    --gray-2: #adaeaf;
    --gray-3: #eaeaea;
    --gray-4: #f5f5f5;
    --gray-5: #fdfbfa;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --primary-1: #1ac84b;
    --primary-2: #ffb21a;
    --secondary-1: #0056fc;
    --secondary-2: #f700fc;
}

#app {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--gray-1);
    background: var(--white);
    transition: all 0.2s linear;
    min-height: 100vh;
}

#app.dark-theme {
    background: var(--slate-900);
    color: var(--gray-4);
}

.app-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* LOGO */
.logo > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-text {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: var(--gray-1);
}

#app.dark-theme .logo-text {
    color: var(--white);
}

/* DECORATIONS */

.decorations-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 100%;
    background: var(--gray-3);
}

.decorations-top::before {
    content: "";
    flex: 1;
    background: var(--white);
    height: 200px;
    border-bottom-right-radius: 80px;
}
.decorations-top::after {
    content: "";
    flex: 1;
    background: var(--white);
    height: 200px;
    border-bottom-left-radius: 80px;
}

.decorations-bottom {
    background: var(--gray-3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 100%;
}

.decorations-bottom::before {
    content: "";
    flex: 1;
    background: var(--white);
    height: 200px;
    border-top-right-radius: 80px;
}
.decorations-bottom::after {
    content: "";
    flex: 1;
    background: var(--white);
    height: 200px;
    border-top-left-radius: 80px;
}

/* DECORATIONS  DARK THEME*/
#app.dark-theme .decorations-top {
    background: var(--slate-800);
}

#app.dark-theme .decorations-top::before {
    background: var(--slate-900);
}
#app.dark-theme .decorations-top::after {
    background: var(--slate-900);
}

#app.dark-theme .decorations-bottom {
    background: var(--slate-800);
}

#app.dark-theme .decorations-bottom::before {
    background: var(--slate-900);
}
#app.dark-theme .decorations-bottom::after {
    background: var(--slate-900);
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}
/* SKELETON DARK THEME */

#app.dark-theme .skeleton {
    background-color: rgb(51, 65, 85);
    background-image: linear-gradient(
        100deg,
        rgb(51, 65, 85) 8%,
        rgb(68, 82, 103) 18%,
        rgb(51, 65, 85) 33%
    );
    background-size: 200% 100%;
    animation: 1.5s skeleton-shine linear infinite;
}

@keyframes skeleton-shine {
    to {
        background-position: -200%;
    }
}
@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* TEXT OVErFLOW */
.content-overflow-limitline {
    --line: 7;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line);
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-overflow-one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* RESPONSIVE */
@media (max-width: 767px) {
    .app-container {
        padding: 0 20px;
    }

    /* LOGO */
    .logo > a {
        gap: 8px;
    }

    .logo-text {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: var(--gray-1);
    }
}
