#header {
    position: sticky;
    top: 0;
    background: var(--white);
    z-index: 900;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* ACTION */
.header-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.button-register {
    padding: 12px 25px;
    background: var(--gray-1);
    color: var(--gray-5);
    font-weight: 500;
    font-size: 16px;
    border-radius: 100rem;
    cursor: pointer;
}

.button-cart {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 4px;
}

/* DARK THEME */

#app.dark-theme #header {
    background: var(--slate-800);
}

#app.dark-theme .button-register {
    background: var(--gray-1);
}

/* RESPONSIVE */
@media (max-width: 767px) {
    .header-action {
        display: none;
    }
}
