/* NAV */
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item > a {
    padding: 16px 26px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}
