#reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 170px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.reviews-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviews-title {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 62px;
    margin-bottom: 84px;
}

.reviews-title-line-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-title-line-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reviews-quote {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
}

.reviews-quote-head {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--gray-2);
}

.reviews-quote-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-quote-body > span {
    flex: 1;
}

.reviews-quote-body > p {
    flex: 6;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.reviews-right {
    flex: 1;
}

.customer-review-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}

.customer-review-item {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.customer-review-item .rating-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.customer-review-content {
    background: var(--gray-4);
    border-radius: 24px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.customer-review-content > p {
    --line: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line);
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.customer-review-content > span {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
}

.customer-review-content > span::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background: var(--gray-1);
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}

/* DARK THEME */

#app.dark-theme .customer-review-content {
    background: var(--slate-800);
}

#app.dark-theme .customer-review-content > span::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background: var(--gray-4);
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}

/* RESPONSIVE */
@media (max-width: 1200px) {
    #reviews {
        gap: 60px;
    }

    .reviews-left {
        flex: 1;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }

    .reviews-title {
        font-size: 22px;
        line-height: 42px;
        margin-bottom: 64px;
    }

    .reviews-title-line-1 {
        justify-content: start;
    }

    .reviews-title-line-2 {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }

    .reviews-title-line-2 > span {
        width: 80px;
    }

    .reviews-quote {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .reviews-quote-head {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--gray-2);
    }

    .customer-review-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .customer-review-item {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }

    .customer-review-item .rating-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .customer-review-content {
        background: var(--gray-4);
        border-radius: 24px;
        padding: 16px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .customer-review-content > span {
        position: relative;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 20px;
    }

    .customer-review-content > span::after {
        content: "";
        position: absolute;
        width: 22px;
        height: 2px;
        background: var(--gray-1);
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
    }
}
